@font-face {
    font-family: 'pingfang';
    src: url('../font/PingFang.eot');
    src: url('../font/PingFang.eot?#iefix') format('embedded-opentype'),
     url('../font/PingFang.woff2') format('woff2'),
     url('../font/PingFang.woff') format('woff'),
     url('../font/PingFang.ttf') format('truetype'),
     url('../font/PingFang.svg') format('svg');
}